<div class="archive">
  <p class="post_content"> 
    Data Systems Officer at Arts Planning & Performance, Monash University and Research Assistant at Machine Learning for Decision Support (MLDS) Group, Deakin University.
  </p>
  <p class="post_content">
    I joined the <a href='https://deakin-mlds.github.io/'>MLDS Group</a>, <a href='https://www.deakin.edu.au/'>Deakin University</a> on Sep. 2023. Currently working with <a href='https://www.deakin.edu.au/about-deakin/people/mohamed-reda-bouadjenek'>Dr Mohamed Reda Bouadjenek</a> and <a href='https://www.deakin.edu.au/about-deakin/people/sunil-aryal'>Dr Sunil Aryal</a>.
  </p>
  <p class="post_content">
    My research interest lies primarily in the domain of Information Retrieval (IR), Natural Language Processing (NLP) and optimisation techniques.
  </p>
  <p class="post_content">
    Professionally, I work with data to deliver insights, utilising tools such as Power BI and Excel, and demonstrating proficiency in SQL and Python.
  </p>
</div>

<div class="archive">
  {% for cat in site.categories-order %}
    {% assign cat_capitalized = cat | capitalize %}
    <p class="header_level2"> {{ cat_capitalized }} </p>

    {% for post in site.posts %}
      {% if post.categories[0] == cat_capitalized %}
        <ul>
          <li>
            <!-- <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
              {{ post.date | date: "%b %d" }}
            </time> -->

            <!-- Publications: -->
            {% if post.categories[0] == 'Publications' %}
              <a href='{{ post.paper | relative_url }}'>
                {{ post.title | escape}}
              </a> 
              <br>
              <span>{{ post.author }}.</span>
              <span>{{ post.venue }}.</span>
              {% if post.code %}
                <a href='{{ post.code | relative_url }}'>
                  [code]
                </a>
              {% endif %}
              {% if post.data %}
                <a href='{{ post.data | relative_url }}'>
                  [data]
                </a>
              {% endif %}
            <!-- projects: -->
            {% elsif post.categories[0] == 'projects' %}
              <a href='{{ post.url | relative_url }}'>
                {{ post.title | escape}}
              </a> 
              <br>
              <span>{{ post.description }}</span>
              <a href='{{ post.repo | relative_url }}'>
                  [Repo]
              </a>
            <!-- Common posts: -->
            {% else %}
              <div class='archive_title'>
                <a href='{{ post.url | relative_url }}'>
                  {{ post.title | escape }}
                </a>
              </div>
            {% endif %}
          </li>
        </ul>
      {% endif %}
    {% endfor %}

  {% endfor %}
</div>
